body{
  font-size:12px;
  line-height:18px;
  color:#36373C;
  background-color:#ffffff;
/* background-image:url(../images/body2.png);
	background-repeat:repeat-y;
	background-attachment:scroll;
	background-position:50% 0;  */
  width:950px;
  margin:1px auto 0px auto;
  font-family:Arial,Verdana,Helvetica,sans-serif;
}

a{
  outline:none;
  font-size:12px;
  text-decoration:none;
/*color:#46474e;*/
/*color:#404148;*/
  color:#36373C;
}

#headerBox{
  background-color:transparent;
}
/*-------startpage-------*/

span.largey{
  color:#656178;
  font-size:18px;
  letter-spacing:-1px;
  line-height:1.30;
  text-decoration:none;
  font-family:Arial;
  font-weight:normal;
  font-style:normal;
  font-variant:normal;
}

span.largeyd{
  color:#656178;
  font-style:italic;
  text-decoration:underline;
  font-family:Arial;
  font-weight:600;
}

span.highLight{
  color:#26242d;
  font-family:Arial;
  font-weight:500;
}

#serviceHeading{
  margin-top:22px;
}

span.services{
  color:#656178;
  font-size:18px;
  letter-spacing:-1px;
  line-height:1.30;
  text-decoration:none;
  font-weight:normal;
  font-family:Arial;
  font-style:normal;
  font-variant:normal;
}

#startPage{
  padding-top:15px;
  padding-bottom:0px;
  padding-right:10px;
  padding-left:4px;
}

#startPage p{
  margin:2px 0px 14px 3px;
  text-align:justify;
}

ul.linkList{
  padding:0px 0px 14px 6px;
  margin:0;
}

ul.linkList li{
  background-image:url(../images/right-gray.png);
  background-repeat:no-repeat;
  background-position:0px 6px;
  padding-left:6px;
}
/*-------siderbar-------*/

.bullet{
  background:transparent url(../images/right-gray.png) no-repeat 7px 50%;
}

.bulletClick{
  background:#F1ECF1 url(../images/linkarrow.gif) no-repeat 98% 58%;
  padding-right:12px;
  text-align:right;
}

.bulletClick a{
  text-decoration:none;
}

.linkOver{
  color:#990033;
  font-style:italic;
}

ul.msd{
  background-color:#F8F7F9;
  margin:0;
  padding:0;
  list-style-type:none;
  border-bottom:2px solid #f8f7f9;
}

#Selections{
  background-image:url(../images/Selections.jpg);
  background-repeat:no-repeat;
  background-color:#FFF;
  height:25px;
  margin-top:30px;
}

#Review{
  background-image:url(../images/Review.jpg);
  background-repeat:no-repeat;
/*background-attachment:scroll;
  background-position:left bottom;*/
  background-color:#FFF;
/*line-height:21px;*/
  height:25px;
  margin-top:32px;
/*padding:1px 0px 1px 0px;*/
/*border-bottom:1px solid #D5CCD9;*/
/*border-bottom:1px solid #DBD3DE;*/
}

#Resources{
  background-image:url(../images/Resources.jpg);
  background-repeat:no-repeat;
  background-color:#FFF;
  height:25px;
  margin-top:32px;
}

#Guides{
  background-image:url(../images/Guides.jpg);
  background-repeat:no-repeat;
  background-color:#FFF;
  height:25px;
  margin-top:32px;
}

ul.msd li.divider{
  list-style-type:none;
  font-size:0;
  line-height:1px;
  height:1px;
  background-color:#fff;
  overflow:hidden;
  padding:0;
  margin:0px 0px 0px 0px;
}

ul.msd a{
  display:block;
  padding:2px 0px 2px 11px;
  font-family:Arial,sans-serif,Verdana,Arial,Helvetica,sans-serif;
  font-size:12px;
  font-weight:500;
}
/*-----Footer------*/

#footerBox{
  background-image:url(../images/four.jpg);
  background-repeat:repeat-x;
  background-color:#fff;
  font-size:11px;
  line-height:20px;
  font-family:Arial,Verdana;
  font-weight:600;
  text-align:center;
  color:#6C6880;
/*border-bottom:1px solid #D6D0DD;*/
  border-bottom:1px solid #E3DDE6;
}

.x-fieldset legend{
  /*color:#837A9E;*/
  color:#75718C;
  font-family:Arial,Verdana;
  font-size:12px;
}

.x-form-item{
  color:#313c53;
/*color:#36373C;*/
  padding:2px 0px 2px 0px;
}

.x-form fieldset{
  border-color:#CACACC;
}
/*-------------------Grid----------*/
.x-grid3-row-alt{
	background-color:#faf9fb;
}

.x-grid3-row-selected {
	background-color:#F1ECF1 !important;
	background-image: none;
	border-color:#DCDADC;
}

td.x-grid3-hd-over,td.sort-desc,td.sort-asc,td.x-grid3-hd-menu-open{
  border-left-color:#eee;
  border-right-color:#d0d0d0;
}

td.x-grid3-hd-over .x-grid3-hd-inner,td.sort-desc .x-grid3-hd-inner,td.sort-asc .x-grid3-hd-inner,td.x-grid3-hd-menu-open .x-grid3-hd-inner{
  background-color:#f9f9f9;
/* background-image:url(../images/default/grid/grid3-hrow.gif); */
  background-image:url(../images/gray/grid/grid3-hrow2.gif);
}

.sort-asc .x-grid3-sort-icon{
  background-image:url(../images/sort_asc.gif);
}

.sort-desc .x-grid3-sort-icon{
  background-image:url(../images/sort_desc.gif);
}

/*.x-grid-group-hd div.x-grid-group-title{
  background-image:none;
  color:#5F5F5F;
  font:bold 11px tahoma,arial,helvetica,sans-serif;
}*/

.x-grid-with-col-lines .x-grid3-row{
  border-top-color:transparent;
}
/*
.x-grid3-col-rightPad1{
  padding-right:5px;
}

.x-grid3-col-rightPad2{
  padding-right:5px;
}

.x-grid3-col-rightPad3{
  padding-right:5px;
}

.x-grid3-col-rightPad7{
  padding-right:3px;
}

.x-grid3-cell-text,.x-grid3-hd-text{
  color:#fff;
}*/
/*-----Grouping-Grid----------*/
/*
span.groupHeader{
  font:oblique small-caps 900 12px Arial;
  color:#46404D;
}

.x-grid-group-hd{
  border-bottom-color:#B8B1BE;
}

.x-grid-group-hd div.x-grid-group-title{
  padding:4px 4px 2px 5px;
}*/
/*-----Summary-Grid----------*/
/*
.x-grid3-gridsummary-row-inner{
  overflow:hidden;
  width:100%;
}

.x-grid3-gridsummary-row-offset{
  width:10000px;
}

.x-grid-hide-gridsummary .x-grid3-gridsummary-row-inner{
  display:none;
}

.x-grid3-summary-row{
  background:#F2F0F5;
  border-left:1px solid #F5F5F5;
  border-right:1px solid #E1DEE2;
}

.x-grid3-summary-row .x-grid3-cell-inner{
  font-weight:bold;
}

.x-grid3-body .x-grid3-td-rightPad7{
  background-color:#F2F0F5;
}

.x-grid3-summary-row .x-grid3-td-rightPad7{
  background-color:#E1DEE2;
}*/