body{
  font-size:12px;
  line-height:18px;
  color:#36373C;
  background-color:#ffffff;
  width:950px;
  margin:1px auto 0px auto;
  font-family:Arial,Verdana,Helvetica,sans-serif;
}

a{
  outline:none;
  font-size:12px;
  text-decoration:none;
  color:#46474e;
  /*color:#404148;*/
}

#headerBox{
  background-color:transparent;
}
/*-------startpage-------*/

span.largey{
  color:#656178;
  font-size:18px;
  letter-spacing:-1px;
  line-height:1.30;
  text-decoration:none;
  font-family:Arial;
  font-weight:normal;
  font-style:normal;
  font-variant:normal;
}

span.largeyd{
  color:#656178;
  font-style:italic;
  text-decoration:underline;
  font-family:Arial;
  font-weight:600;
}

span.highLight{
  color:#26242d;
  font-family:Arial;
  font-weight:500;
}

#serviceHeading{
  margin-top:22px;
}

span.services{
  color:#656178;
  font-size:18px;
  letter-spacing:-1px;
  line-height:1.30;
  text-decoration:none;
  font-weight:normal;
  font-family:Arial;
  font-style:normal;
  font-variant:normal;
}

#startPage{
  padding-top:10px;
  padding-bottom:0px;
  padding-right:4px;
  padding-left:4px;
}

#startPage p{
  margin:2px 0px 14px 3px;
  text-align:justify;
}

ul.linkList{
  padding:0px 0px 14px 6px;
  margin:0;
}

ul.linkList li{
  background-image:url(../images/right-gray.png);
  background-repeat:no-repeat;
  background-position:0px 6px;
  padding-left:6px;
}
/*-------siderbar-------*/

.bullet{
  background:transparent url(../images/right-gray.png) no-repeat 7px 50%;
}

.bulletClick{
  /*background:#F1ECF1 url(../images/linkarrow.gif) no-repeat 98% 58%;*/
  background:transparent url(../images/linkarrow.gif) no-repeat 98% 58%;
  padding-right:12px;
  font-style: oblique;
  text-align:right;
}

.bulletClicka{
  /*color:#800000;*/
  /*color:#574972;*/
  /*color:#50537B;*/
  /*color:#7C6283;*/
  /* color:#755D7B; */
  /* color:#7f4351; */
  color:#634e68;
}

.linkOver{
  color:#993333;
  font-style:italic;
}

ul.msd{
  background-image:url(../images/linkImage1.jpg);
  background-repeat:no-repeat;
  background-color:#FFFFFF;
  margin:1px 0px 0px 0px;
  height:24px;
  padding:0;
  list-style-type:none;
}

#Selections{
  background-image:url(../images/Selections.jpg);
  background-repeat:no-repeat;
  background-color:#FFF;
  height:25px;
  margin-top:30px;
}

#Review{
  background-image:url(../images/Review.jpg);
  background-repeat:no-repeat;
  background-color:#FFF;
  height:25px;
  margin-top:28px;
}

#Resources{
  background-image:url(../images/Resources.jpg);
  background-repeat:no-repeat;
  background-color:#FFF;
  height:25px;
  margin-top:28px;
}

#Guides{
  background-image:url(../images/Guides.jpg);
  background-repeat:no-repeat;
  background-color:#FFF;
  height:25px;
  margin-top:28px;
}

ul.msd a{
  display:block;
  padding:0px 0px 0px 12px;
  font-family:Arial,sans-serif,Verdana,Arial,Helvetica,sans-serif;
  font-size:12px;
  font-weight:500;
  line-height: 24px;
}
/*-----Footer------*/

#footerBox{
  background-image:url(../images/four.jpg);
  background-repeat:repeat-x;
  background-color:#fff;
  font-size:11px;
  line-height:20px;
  font-family:Arial,Verdana;
  font-weight:600;
  text-align:center;
  color:#6C6880;
/*border-bottom:1px solid #D6D0DD;*/
  border-bottom:1px solid #E3DDE6;
}

.x-fieldset legend{
  /*color:#837A9E;*/
  color:#75718C;
  font-family:Arial,Verdana;
  font-size:12px;
}

.x-form-item{
  color:#313c53;
/*color:#36373C;*/
  padding:2px 0px 2px 0px;
}

.x-form fieldset{
  border-color:#CACACC;
}
/*-------------------Grid----------*/
.x-grid3-row-alt{
	/* background-color:#faf9fb; */
	background-color:#FBFAFB;
}

.x-grid3-row td{
  line-height:1.20;
}

.x-grid3-row-selected {
  /* background-image: none; */
  /*background:transparent url(../images/default/grid/row-over.gif) !important;*/
  /*background: #E6E6F2 !important;*/  
  /*border:1px dotted #B9B5CF;*/
  /*background: #EAEAF3 !important;*/
  /*background: #ECEBED !important;*/
  /*background: #F0EBF2 !important;*/
  background: #F1EDF3 !important;
  /*border:1px dotted #B3AFC8;*/
  /*border:1px dotted #6D6882;*/
  border:1px dotted #A7A5A8;
}

.x-grid-with-col-lines .x-grid3-row{
  border-top-color:transparent;
}

.x-grid-with-col-lines .x-grid3-row-selected {
	border-top-color:#A7A5A8;
}

td.x-grid3-hd-over,td.sort-desc,td.sort-asc,td.x-grid3-hd-menu-open{
  border-left-color:#eee;
  /* border-right-color:#d0d0d0; */
  border-right-color:#eee;
}

.x-grid-with-col-lines .x-grid3-row td.x-grid3-cell-last {  
    border-right-color:#fcfcfc;
}

td.x-grid3-hd-over .x-grid3-hd-inner,td.sort-desc .x-grid3-hd-inner,td.sort-asc .x-grid3-hd-inner,td.x-grid3-hd-menu-open .x-grid3-hd-inner{
  background-color:#f9f9f9;
  background-image:url(../images/gray/grid/grid3-hrow2.gif);
}

.sort-asc .x-grid3-sort-icon{
  background-image:url(../images/sort_asc.gif);
}

.sort-desc .x-grid3-sort-icon{
  background-image:url(../images/sort_desc.gif);
}


/*------contact-panel---------------*/
div.thumb-wrap{
  line-height:1.2;
  font-size: 11px;
  width:225px;
  height:190px;
}

p.contactHead{
  font:normal normal 600 11px Arial;
  padding-top:5px;
  color:#515257;
}

a.webLink2{
  color:#7979BB;
  font:normal normal 500 11px Arial;
  text-decoration:underline;
  line-height:1.2;
}

div.contactFour{
  background-image:url(../images/Contact1.jpg);
  background-repeat:no-repeat;
  background-color:#FFF;
  height:25px;
}

div.contactTop{
  border: 3px solid #E3E2E4;
  border-top: 0px solid #F1F0F2;
  padding-left: 6px;
  padding-bottom: 1px;
  color:#4A4B53;
}

table.contactTable td.left{
  width:60%;
}

#graphCont{
  padding: 0px 2px 0px 6px;
}
/*-----Related-Top-Table------*/
.x-window-tc{
background-image:url(../images/reviewHead.jpg);
background-repeat:repeat-x;
background-color:#eFeFeF;
height:25px;
} 

#reviewTitle{
width:100%;
}

#reviewTitle td{
padding: 0px 3px 0px 3px;
}

h3.reviewLarge{
  text-align:left;
	font:bold 11px tahoma,arial,verdana,sans-serif; 
  color:#706B81;
}

#topClose{
	font:normal 11px tahoma,arial,verdana,sans-serif;
  cursor:pointer;
}

.closeOver{
  text-decoration:underline;
  color:#914848;
}
/*-----Related-Top-Table------*/
dl.selDef{
  text-align:left;
  line-height:1.4;
  padding:5px 0 0px 0;
}

dl.selDef dt{
  color:#716C86;
  padding:0px 0 0 5px;
  font-weight: 600;
}

dl.selDef dd{
  color:#46474e;
  padding:0 0px 1px 14px;
}

li.dividers{
  list-style-type:none;
  font-size:0;
  line-height:1px;
  height:1px;
  overflow:hidden;
  background-color:#f3f3f4;
  width:95%;
  padding:0;
  margin:1px 0 1px 14px;
}